.hr{
    height: 6px;
  background-color: black;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #999999;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, rgba(153, 153, 153, 0.5), rgba(224, 224, 224, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, rgba(153, 153, 153, 0.5), rgba(224, 224, 224, 0.5))
  }

$fcolor:gray;

.bfcolor{
  color: $fcolor;
}
.bgcolorgray{
  color: #999999;
  background-color: #999999;
}